[submodule "thirdparty/dmlua"]
	path = thirdparty/dmlua
	url = https://github.com/brinkqiang/dmlua.git
[submodule "thirdparty/dmtimer"]
	path = thirdparty/dmtimer
	url = https://github.com/brinkqiang/dmtimer.git
[submodule "thirdparty/dmrc"]
	path = thirdparty/dmrc
	url = https://github.com/brinkqiang/dmrc.git
[submodule "thirdparty/dmstyle"]
	path = thirdparty/dmstyle
	url = https://github.com/brinkqiang/dmstyle.git
[submodule "thirdparty/dmpath"]
	path = thirdparty/dmpath
	url = https://github.com/brinkqiang/dmpath.git
